> Some editorial issues I'd like to have input on before I spend time fixing them the wrong way:
> 
> In section 3, the `.txt` version reads:
> 
> ```
> * In Section 5, this paragraph is replaced as follows.
> [...]
>       NEW
> 
>       |  The IP address delegation extension [RFC3779] is present in the
>       |  end-entity (EE) certificate (contained within the ROA), and
>       |  each IP address prefix(es) in the ROA is contained within the
>       |  VRS-IP set that is specified as an outcome of EE certificate
>       |  validation described in Section 4.
> ```
> 
> Per the xml cross reference (and common sense), section 4 refers to section 4 of this draft. However, if this text is to be replaced in section 5 of RFC 6487, Section 4 points at the `4. Resource Certificates` section, which is wrong. Not sure how this is usually solved in RFC updates, but I suspect the reference should go to section 7.2, perhaps with an indication like "as updated in the present document".

This is solved by doing a 'self-reference', which the RFC editor will recognize for what it is. See https://github.com/bgp/draft-ietf-idr-bgp-sendholdtimer/blob/master/draft-ietf-idr-bgp-sendholdtimer.xml#L347-L371 and https://github.com/bgp/draft-ietf-idr-bgp-sendholdtimer/blob/master/draft-ietf-idr-bgp-sendholdtimer.xml#L246


> In section 4, there is some tension between the inputs of the algorithm and what's used in it.
> 
> * You mention only _two_ inputs, including "1. **A** trust anchor".
>   Then all of a sudden intermediate certificates `x in {1, ..., n - 1}` appear. I'd argue that should actually be _three_ inputs, where the second input is a set of intermediate certificates (not necessarily disjoint from 1). Also, I'm not entirely sure why input 1 is only a (single?) trust anchor rather than a set of trust anchors.

It seems ... like a complication when a certification path can only be established from EE to TA - when another TA's subordinate thingies are required to build the path.

> * In `b.`, the first certificate is to be issued by **a** trust anchor.
>   So either the first input is a set of trust anchors, or it should say "issued by **the** trust anchor."

yeah, should probably be _the_ 

> So my suggestion would be to modify the algorithm to start with
> 
> 1. A set of trust anchors
> 2. A set of intermediate CA certificates
> 3. A certificate to be validated
>>
> And change the rest of the algorithm accordingly. Does that make sense to you? The changes will be a bit intrusive, so I'd like to clear that first.

As long as we dont accidentally end up accommodating certification path building across CAs distributed across TAs. Would you agree?

> Regarding the conditions numbered 4. and 5:
> 
> ```
> 5. If certificate x uses the Certificate Policy defined in Section 4.2.4.1 [RFC8360] ...
> ```
> 
> There is a weird contradiction to section 2 (which states such certs are invalid) and point `d.: for all 'x' in {1, ..., n}, certificate 'x' is valid.`.
> 
> Is this a leftover from copy-pasting from RFC 8360?

yes, that is a copy+paste error

> Similarly, condition 4 should probably just require the use of the RFC 6484 CP.

yes
 
> So my suggestion would be to adjust section 4 to a plain requirement of 6484/6487 CP and to drop section 5.

OK - drop the implementation status? We can do that until we've made more progress.

> The text doesn't do a great job of accommodating RFC 8209. Is this out of scope?

It should not be out of scope, but I think that back then in the interest of time I focused on just ROAs/VRPs. BGPsec should be part of the considerations, and RSC as well. In ASPA "overclaiming" isn't possible in the sense that there only can be 1 `CustomerASID` per ASPA object, so I think that one can be left out